@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>
        cigdemuysal
    </title>
</head>

<body style="color:red">
    <p text-align="center">
      <h1>CIGDEM UYSAL CV </h1>
    </p>

<pre>
    ÇİĞDEM UYSAL
                                                                                                                  
BİLGİSAYAR  MÜHENDİSLİĞİ                                                                                                                                                                                                              
KİŞİSEL BİLGİLER:                                                                                                   
Uyruğu                 : T.C                                    
Doğum tarihi        : 11/11/1992                                              
Medeni durumu   : Bekar                                                                                                                     
Adresi                  : Yunus Emre Mahallesi Kaynak Sokak 
                              Akasya Apartmanı No:4/3
                              06170 Yenimahalle/ANKARA 
GSM                    : 0551 230 08 02
E-mail                  : cgdmuysl@gmail.com 
KARİYER HEDEFİ:
Mesleğimi en iyi şekilde icra edebilmek için öğrenim hayatımı başarılı bir şekilde tamamlamak ve uzun 
vadede uluslararası alanda görev alarak, yönetici olabilmek.
EĞİTİM DURUMU:
Lise öğrenimimi Sakarya Mithatpaşa Şükrü Ayna Anadolu Lisesi’nde tamamladım(09/2006-06/2010).
Üniversite öğrenimime Ankara’da Yıldırım Beyazıt Üniversitesi Mühendislik ve Doğa Bilimleri Fakültesi 
Bilgisayar Mühendisliği Bölümü’nde (İngilizce eğitim) devam etmekteyim. (09/2011-         ).
YABANCI DİL:
İngilizce: İleri seviye
BİLGİSAYAR:
Microsoft Ofis, Multisim, C, C#, Java 
BELGELER:
B sınıfı sürücü belgesine sahibim.
REFERANSLAR:
Prof. Dr. Fatih Vehbi ÇELEBİ Yıldırım Beyazıt Üniversitesi
</pre>

</body>


</html>
